@use "global/variables/global.scss" as *;
@use "global/themes/dark.scss" as *;
@use "global/themes/light.scss" as *;
@use "normalize.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.app {
    font: var(--font-l);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.linkBtn {
    max-width: var(--btn-width);
    width: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}
